<%= react_component("StartupApp") %>


<div class="footer">
  <div class="footer-content">
      StatMeQuick&copy; <br/>
      All Rights Reserved<br/>
      <a href="http://www.emiliocorpus.com">@emiliocorpus</a>
  </div>
</div>