// https://coolors.co/2b2d42-5d69d8-edf2f4-ef233c-d90429
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  padding:0;
  margin:0;
}
body {
  background-color:#2B2D42;
  zoom:90%;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
// .debugger-red {
//   border: 1px solid red;
// }
// .debugger-blue {
//   border: 1px solid blue;
// }

// .debugger-green {
//   border: 1px solid green;
// }

// .debugger {
//   border:1px solid red;
// }


// head
div.head {
  color: #FBFBF2;
  margin:0 auto;
  text-align:center;
  margin-top:80px;
}


div.title-container {
  border-radius:25px;
  border:5px solid #EDF2F4;
  padding:5px;
  width:335px;
  margin:0 auto;
}

div.title-container span {
  font-size:50px;
}

span.title-stat {
  color:#D90429;
}

span.title-me {
  color:white;
}
span.title-quick {
  color:#5D69D8;
}




// Navigation and UI elements
input.form-control {
  width:350px;
  margin:0 auto;
}

input.search-form {
  font-size:25px;
  padding:2%;
  border-radius:40px;
}
span.search-comment {
  color:#DD6E42;
  padding-top:10px;
  padding:5%;
  font-size:20px;
}

div.search-ui {
  background-color:#8D99AE;
  max-height:220px;
}

div.navigation-ui-container {
  text-align:center;
  margin:0 auto;
  margin-top:100px;
}

div.result-tray {
  max-height:180px;
  overflow-y: auto;
}

div.search-result{
  background-color: #8D99AE;
}
img.loading {
  width:30px;
}


// Searched Player Styling
div.player-bio-pic-container, div.stat-content {
  margin: 0 auto;
  text-align:center;
}
div.stat-content {
  width:100%;
  padding-top:25px;
}
div.player-name-container h3{
  color: #EDF2F4;
}
table.table-stats {
  margin:0 auto;
  text-align:center;
  color:#EDF2F4;
  background-color:#F7FCFF;
}

td.col-header {
  color:#EF233C;
  text-size:30px;
}

td.col-stat {
  color:#000000;
  text-size:30px;
}
tbody {
  color:#000000;
}
thead {
  color:#D90429;
}
th {
  text-align:center;
  margin:0 auto;
}
tfoot {
  background-color:#C2D2EF;
  color:#2B2D42;
}


img.searchedPlayerPic {
  width:300px;
}

div.no-content {
  color: red;
  font-size: 20px;
}


div::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
}

div::-webkit-scrollbar-thumb {
  color:rgba(0, 0, 0, 0.69);
};



// footer

div.footer {
  margin-top:250px;
  display:table;
  width:100%;
  height:100px;
  bottom:0;
}
div.footer-content {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  margin: 0 auto;
  color:#EDF2F4;
  width:100%;
  font-size:15px;
}
